*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to left , black ,blue);
    color: gray;
}

/* .fa{
    font-size: x-large !important;
    color: black;
    text-align: center !important;
    border: 1px solid;
    height: 50px;
    width: 50px;
} */

.icon{
    font-size: x-large;
    height:40px;
    width: 40px;
    border: 1px solid;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 2px 0px 10px ;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    color: green;
}
.icon:hover {
    background-color: red;
    color: white;

}

.complete-task{
    text-decoration: line-through;
    text-decoration-color:black ;
}